@model BlogPlatform.Models.Post

@{
    ViewData["Title"] = "Post Details";
}

<h1>Post Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <button class="button button" type="button" onclick="location.href='/Post/Update/@Model.Id'">Edit</button> | 
    <button class="button button" type="button" onclick="location.href='/Post/Delete/@Model.Id'">Delete</button>
    <hr />
</div>
<div id="postdetailsreturn">
    <a href="/Post/">Back to Posts</a> | <a href="/Category/Details/@Model.CategoryId">Back to Category</a>
</div>
