@model IEnumerable<BlogPlatform.Models.Post>

@{
    ViewData["Title"] = "My Posts";
}

<h1>My Posts</h1>

<p>
    <a href="/Post/Create/">Create New Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                <button type="button" onclick="location.href='/Post/Details/@item.Id'">Details</button> |
                <button type="button" onclick="location.href='/Post/Delete/@item.Id'">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
